body{
    font-size: 14px;
    color: navy;
    background-color: hotpink;
}
p{
    font-family: calibri,helvetica,sans-serif;
}
h1,h3{
    text-decoration: underline;
    font-size: 23px;
    color: green;
}